
:root {
    --primary-color: #4c7df9; 
    --secondary-color: #6c757d; 
    --light-bg: #f8f9fa;
    --dark-bg: #343a40;
    --hover-bg: rgba(0, 123, 255, 0.1);
    --hover-color: #0056b3; 


    --main-bg: #ecf2ff;
    --light-blue: #4c7df9;
    --black: #202020;
    --mid-blue: #1f4cff;
    --dark-blue: #0a2fbf;
    --gray: #d6d6d8;
    --img-bg-blue: rgba(58, 120, 253, 0.65);
    --gradient-bg: linear-gradient(to bottom, var(--light-blue) 0%, var(--mid-blue) 100%);

    --system1: #f9f871;
    --system2: #ffc861;
    --system3: #ff9580;
    --system4: #ff72b2;
    --system5: #d970e2;
    --system6: #22c197;
    --system7: #796fe5;
    --system8: #b0b5ed;
    --system9: #eee8a9;
    --system10: #3a7371;
    --system11: #dbefee;
    --system12: #6dfacd;
    --system13: #8d86ed;
    --system14: #95a542;
}

#add-new-brand-container, #view-new-brand-container {
    max-height: 80vh; /* Sets max height relative to viewport */
    overflow-y: auto; /* Enables scrolling if content exceeds the max height */
}


.brand-logo {
    width:auto;
    height: 35px;
}



/* add new brand */
#brandImagePreview, #brandDescImg1Preview  {
    width: auto;
    height: 300px;
}




table tbody tr td span {
    padding: 3px 10px;
    border-radius: 10px;
}

.FDAS {
    background-color: var(--system1);
}

.AFSS {
    background-color: var(--system2);
}

.CCTV {
    background-color: var(--system3);
}

.ACCESS_CONTROL {
    background-color: var(--system4);
}

.BURGLAR_ALARM {
    background-color: var(--system5);
}

.INTERCOM_PAGING {
    background-color: var(--system6);
}

.WALKTHROUGH_HANDHELD_METAL_DETECTOR {
    background-color: var(--system7);
}

.GATE_BARRIERS {
    background-color: var(--system8);
}

.EAS {
    background-color: var(--system9);
}

.XRAY-BAGGAGE-SCANNER {
    background-color: var(--system10);
}

.LED_DISPLAY {
    background-color: var(--systeM11);
}

.ROOM_ALERT {
    background-color: var(--system12);
}