{% load static %}

<footer>
    <div id="footer" class="container-fluid p-5">
        <div class="row">

            <div class="col-lg-3">
                <div class="text-center">                
                    <img src="{% static 'images/aa2000 - circle.png' %}" alt="AA2000 LOGO">
                </div>
                <h3 class="mt-4">AA2000 SECURITY & TECHNOLOGY SOLUTIONS INC</h3>
                <hr>
                <p>AA2000 Security and Technology Solutions Inc. offers expert systems integration and cutting-edge technology solutions. We specialize in comprehensive services, from design and installation to maintenance and support, ensuring your business stays secure and innovative.</p>
            </div>

            <div class="col-lg-1 pt-4">
                <h5 class="fw-bold fs-5 fs-lg-3"><a class="text-decoration-none text-light" href="/about">About Us</a></h5>
                <ul class="list-unstyled">
                    <li class="my-2 px-3"><a href="/about#overview" class="dropdown-item">Overview</a></li>
                    <li class="my-2 px-3"><a href="/about#mission" class="dropdown-item">Mission</a></li>
                    <li class="my-2 px-3"><a href="/about#vision" class="dropdown-item">Vision</a></li>
                    <li class="my-2 px-3"><a href="/about#goals" class="dropdown-item">Goals</a></li>
                    <li class="my-2 px-3"><a href="/about#careers" class="dropdown-item">Careers</a></li>
                </ul>
            </div>

            <div class="col-lg-2 pt-4">
                <h5 class="fw-bold fs-5 fs-lg-3">Systems</h5>
                <div class="d-flex justify-content-between align-items-start">
                    <ul class="list-unstyled">
                        <li class="my-2 px-3"><a href="/systems" class="dropdown-item">View all Systems</a></li>
                        <li class="my-2 px-3"><a href="/systems/fdas" class="dropdown-item">Fire Detection and Alarm Systems</a></li>
                        <li class="my-2 px-3"><a href="/systems/afss" class="dropdown-item">Automatic Fire Suppression Systems</a></li>
                        <li class="my-2 px-3"><a href="/systems/cctv" class="dropdown-item">CCTV Systems</a></li>
                        <li class="my-2 px-3"><a href="/systems/access-control" class="dropdown-item">Access Control Systems</a></li>
                        <li class="my-2 px-3"><a href="/systems/burglar-alarm" class="dropdown-item">Burglar Alarm Systems</a></li>    
                        <li class="my-2 px-3"><a href="/systems/intercom-paging" class="dropdown-item">Paging Systems</a></li>
                        <li class="my-2 px-3"><a href="/systems/walkthrough-metal-detectors" class="dropdown-item">Walkthrough/ Handheld Metal Detectors</a></li>
                        <li class="my-2 px-3"><a href="/systems/gate-barriers" class="dropdown-item">Gate Barrier Systems</a></li>
                        <li class="my-2 px-3"><a href="/systems/room-alert" class="dropdown-item">Room Alert Systems</a></li>
                        <li class="my-2 px-3"><a href="/systems/xray-baggage-scanners" class="dropdown-item">X-ray Baggage Scanner Systems</a></li>
                        <li class="my-2 px-3"><a href="/systems/eas" class="dropdown-item">Electronic Article Surveillance Systems</a></li>
                        <li class="my-2 px-3"><a href="/systems/led" class="dropdown-item">LED Displays Systems</a></li>
                        <li class="my-2 px-3"><a href="/systems/robots" class="dropdown-item">Robots Systems</a></li>
                        <li class="my-2 px-3"><a href="/systems/erp" class="dropdown-item">ERP Softwares</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-2 pt-4">
                <h5 class="fw-bold fs-5 fs-lg-3">Services</h5>
                <ul class="list-unstyled">
                    <li class="my-2 px-3"><a href="/services" class="dropdown-item">View all Services</a></li>
                    <li class="my-2 px-3"><a href="/services/supply" class="dropdown-item">Supply</a></li>
                    <li class="my-2 px-3"><a href="/services/installation" class="dropdown-item">Installation</a></li>
                    <li class="my-2 px-3"><a href="/services/maintenance" class="dropdown-item">Maintenance</a></li>
                    <li class="my-2 px-3"><a href="/services/troubleshooting" class="dropdown-item">Troubleshooting</a></li>
                    <li class="my-2 px-3"><a href="/services/design" class="dropdown-item">Design</a></li>
                    <li class="my-2 px-3"><a href="/services/inspection" class="dropdown-item">Inspection</a></li>
                    <li class="my-2 px-3"><a href="/services/consultation" class="dropdown-item">Consultations</a></li>
                    <li class="my-2 px-3"><a href="/services/training" class="dropdown-item">Training</a></li>
                </ul>
            </div>


            <div class="col-lg-1 pt-4">
                <h5 class="fw-bold fs-5 fs-lg-3">Blogs</h5>
                <ul class="list-unstyled">
                    <li class="my-2 px-3"><a href="/blogs" class="dropdown-item">View all Blogs</a></li>
                    <li class="my-2 px-3"><a href="/policy" class="dropdown-item">Policies</a></li>
                    <li class="my-2 px-3"><a href="/faqs" class="dropdown-item">General FAQs</a></li>
                    <li class="my-2 px-3"><a href="/blogs/articles" class="dropdown-item">Articles</a></li>
                    <li class="my-2 px-3"><a href="/blogs/resources" class="dropdown-item">Resources</a></li>
                </ul>
            </div>


            <div class="col-lg-3 pt-4">
                <h5 class="fw-bold fs-5 fs-lg-3">Contact Us</h5>
                <ul class="list-unstyled mt-4">
                    <li class="d-flex justify-content-start align-items-center my2 px-3">
                        <i class="fs-1 mx-3 bi bi-geo-alt-fill"></i> 
                        <p>Unit 2C Norkis Building 11 ​Calbayog Street Cor. ​DMG ​Streets, Mandaluyong City</p>
                    </li>
                    <li class="d-flex justify-content-start align-items-center my2 px-3">
                        <i class="fs-1 mx-3 bi bi-phone-fill"></i>
                        <p>09171585060</p> 
                    </li>
                    <li class="d-flex justify-content-start align-items-center my2 px-3">
                        <i class="fs-1 mx-3 bi bi-telephone-fill"></i>
                        <p>(02)8-571-5693 / ​(02)7-215-5060</p>
                    </li>
                    <li class="d-flex justify-content-start align-items-center my2 px-3">
                        <i class="fs-1 mx-3 bi bi-envelope-fill"></i>
                        <p>aa2000marketingdept@gmail.com ​/ aa2000ent@gmail.com</p>
                    </li>
                </ul>
                <div id="social-links" class="row mt-3 justify-content-around align-items-center mx-3">
                    <div class="col-3">
                        <a href="" class="fw-bold fs-1 mx-1" target="_blank"><i class="bi bi-facebook"></i></a>
                    </div>
                    <div class="col-3">
                        <a href="" class="fw-bold fs-1 mx-1" target="_blank"><i class="bi bi-instagram"></i></a>
                    </div>
                    <div class="col-3">
                        <a href="" class="fw-bold fs-1 mx-1" target="_blank"><i class="bi bi-tiktok"></i></a>
                    </div>
                    <div class="col-3">
                        <a href="" class="fw-bold fs-1 mx-1" target="_blank"><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</footer>