{% extends 'base.html' %}
{% load static %}

{% block title %}
    Electronic Article Systems
{% endblock %}



{% block scripts %}
    <script src="{% static 'js/systems-selected.js' %}"></script>
{% endblock %}


{% block styles %}
    <link rel="stylesheet" href="{% static 'css/systems-selected.css' %}">
{% endblock %}




{% block content %}
    <section id="banner-area">
        
    </section>

    <section id="hero-banner">
        <div class="container-fluid">
            <div class="row justify-content-center align-items-center mx-3 my-5 px-xl-5">
                <div class="col-lg-5 text-center text-xl-start">
                    <h4 class="text-uppercase">Integrating System</h4>
                    <h1 class="fw-bolder display-2 text-primary text-uppercase">Electronic Article Surveillance Systems</h1>
                </div>
                <div class="col-lg-5 fs-lg-5 d-none d-xl-block text-center text-xl-start">
                    <p class="text-justify">EAS Brands are trusted leaders in providing innovative and reliable security solutions that protect retail stores, libraries, and other establishments from theft and unauthorized removal of merchandise. Electronic Article Surveillance (EAS) systems are designed to detect and prevent shoplifting by triggering an alarm when security tags or labels attached to products are not deactivated or removed properly. With a focus on ease of use, reliability, and integration, EAS Brands offer a wide range of systems and accessories that help retailers maintain asset protection and enhance store security.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="systems-overview">
        <div class="container-fluid my-5" id="systems-overview-banner">

            <div class="row justify-content-center align-items-start mx-5 px-xl-5 mt-xl-5 px-1 mt-3 mb-5">
                <div class="col-xl-4 mx-lg-5 mx-1 mt-lg-5 mt-1 d-none d-lg-block text-xl-end">
                    <img src="{% static 'images/ea49.png' %}" class="mt-3" alt="">
                    <img src="{% static 'images/eas50.png' %}" class="mt-3" alt="">
                </div>
                <div class="col-xl-5 mx-lg-5 mx-1 mt-lg-5 mt-1 text-justify text-xl-start">
                    <h2 class="display-5 mb-3">What is Electronic Article Surveillance Systems?</h2>
                    <p class="text-justify">An Electronic Article Surveillance (EAS) system is a security technology used to detect and prevent the theft of items from retail environments. The system typically consists of security tags or labels that are attached to merchandise, and an array of detection antennas placed at store entrances or exits. If a tagged item passes through the detection zone without being deactivated or removed, the system triggers an alarm to alert store staff.</p>
                    <p class="text-justify">EAS systems use various types of technologies, such as radio frequency (RF), acousto-magnetic (AM), or electromagnetic (EM) systems, to detect unauthorized movements of tagged products. These systems are customizable and can be integrated with other security solutions, such as CCTV or access control systems, to provide comprehensive theft prevention strategies. EAS systems are commonly used in retail stores, libraries, and warehouses to protect against shoplifting and inventory loss.</p>
                </div>
            </div>
            <div class="px-xl-5 mt-xl-5 px-1 mt-3 mb-5 text-justify text-xl-start mx-3 mx-xl-5">
                <p class="text-justify">EAS Brands provide high-quality and dependable security solutions that help businesses safeguard their merchandise and reduce the risk of theft. With advanced technology and versatile designs, EAS systems ensure effective asset protection and help improve operational efficiency in retail environments. By combining reliable detection capabilities with easy integration into store layouts, EAS Brands continue to lead the market in retail security, offering peace of mind to store owners and operators worldwide.</p>
            </div>

        </div>
    </section>

    <section id="systems-products">
        <div class="container-fluid my-5" id="systems-products-banner">
            <h3 class="text-center mt-3 mb-5 pt-5 mx-3">
                <div class="display-lg-2 display-6 mb-1 fw-bold">Electronic Article Surveillance Products</div>
                <p class="lead text-muted  fs-6 fs-lg-2">Advanced EAS Solutions for Retail Security</p>
            </h3>

            <div id="systems-products-slider" class="position-relative d-flex flex-nowrap justify-content-center align-items-center mx-xl-5 px-xl-5 my-2">
                <button id="products-btn-prev" class="slider-btn btn-prev border-0">
                    <i class="bi bi-chevron-left fs-3"></i>
                </button>

                <div id="slider-container" class="lcl-systems row d-flex flex-nowrap justify-content-start align-items-center overflow-x-auto px-xl-5 mx-xl-5 px-1 mx-1" >

                    <div class="col-8 col-md-4 col-xl-3 p-xl-3 p-2">
                        <a href="/products?search_product=&sort_by=name-up&category=80">
                            <div class="card p-3 rounded-5 mx-2">
                                <div class="card-body text-center p-1">                                        
                                    <img src="{% static 'images/pro106.png' %}" alt="Brand 1" class="img-fluid">
                                </div>
                                <div class="card-title m-2 text-center">
                                    <p class="fs-6 mt-3">Antenna System</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    

                    <div class="col-6 col-xl-3 p-3">
                        <a href="/products?search_product=&sort_by=name-up&category=81">
                            <div class="card p-3 rounded-5 mx-2">
                                <div class="card-body text-center p-1">                                        
                                    <img src="{% static 'images/pro107.png' %}" alt="Brand 1">
                                </div>
                                <div class="card-title m-2 text-center">
                                    <p class="fs-6 mt-3">Tags</p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-6 col-xl-3 p-3">
                        <a href="/products?search_product=&sort_by=name-up&category=82">
                            <div class="card p-3 rounded-5 mx-2">
                                <div class="card-body text-center p-1">                                        
                                    <img src="{% static 'images/pro108.png' %}" alt="Brand 1">
                                </div>
                                <div class="card-title m-2 text-center">
                                    <p class="fs-6 mt-3">Deactivation Pads</p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-6 col-xl-3 p-3">
                        <a href="/products?search_product=&sort_by=name-up&category=83">
                            <div class="card p-3 rounded-5 mx-2">
                                <div class="card-body text-center p-1">                                        
                                    <img src="{% static 'images/pro69.png' %}" alt="Brand 1">
                                </div>
                                <div class="card-title m-2 text-center">
                                    <p class="fs-6 mt-3">Tag Detachers</p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-6 col-xl-3 p-3">
                        <a href="/products?search_product=&sort_by=name-up&category=84">
                            <div class="card p-3 rounded-5 mx-2">
                                <div class="card-body text-center p-1">                                        
                                    <img src="{% static 'images/pro70.png' %}" alt="Brand 1">
                                </div>
                                <div class="card-title m-2 text-center">
                                    <p class="fs-6 mt-3">Remote Monitoring System</p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-6 col-xl-3 p-3">
                        <a href="/products?search_product=&sort_by=name-up&category=85">
                            <div class="card p-3 rounded-5 mx-2">
                                <div class="card-body text-center p-1">                                        
                                    <img src="{% static 'images/pro71.png' %}" alt="Brand 1">
                                </div>
                                <div class="card-title m-2 text-center">
                                    <p class="fs-6 mt-3">Integrated Alarm Systems</p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-6 col-xl-3 p-3">
                        <a href="/products?search_product=&sort_by=name-up&category=86">
                            <div class="card p-3 rounded-5 mx-2">
                                <div class="card-body text-center p-1">                                        
                                    <img src="{% static 'images/pro72.png' %}" alt="Brand 1">
                                </div>
                                <div class="card-title m-2 text-center">
                                    <p class="fs-6 mt-3">Power Supply</p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-6 col-xl-3 p-3">
                        <a href="/products?search_product=&sort_by=name-up&category=87">
                            <div class="card p-3 rounded-5 mx-2">
                                <div class="card-body text-center p-1">                                        
                                    <img src="{% static 'images/pro73.png' %}" alt="Brand 1">
                                </div>
                                <div class="card-title m-2 text-center">
                                    <p class="fs-6 mt-3">System Control Module</p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-6 col-xl-3 p-3">
                        <a href="/products?search_product=&sort_by=name-up&category=88">
                            <div class="card p-3 rounded-5 mx-2">
                                <div class="card-body text-center p-1">                                        
                                    <img src="{% static 'images/pro74.png' %}" alt="Brand 1">
                                </div>
                                <div class="card-title m-2 text-center">
                                    <p class="fs-6 mt-3">Pedestals</p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-6 col-xl-3 p-3">
                        <a href="/products?search_product=&sort_by=name-up&category=89">
                            <div class="card p-3 rounded-5 mx-2">
                                <div class="card-body text-center p-1">                                        
                                    <img src="{% static 'images/pro75.png' %}" alt="Brand 1">
                                </div>
                                <div class="card-title m-2 text-center">
                                    <p class="fs-6 mt-3">EAS Software</p>
                                </div>
                            </div>
                        </a>
                    </div>


                </div>

                <button id="products-btn-next" class="slider-btn btn-next border-0">
                    <i class="bi bi-chevron-right fs-3"></i>
                </button>

            </div>

            <div class="justify-content-center align-items-center text-center mt-5 ">
                <a href="/products?system=eas" class="btn btn-primary rounded-3 p-3">View all Electronic Article Surveillance Products</a>
            </div>
        </div>
    </section>

    <section id="systems-services">
        <div class="container-fluid my-5" id="systems-services-banner">

            <div class="row justify-content-center align-items-start">
                <div class="col-xl-4">
                    <img src="{% static 'images/eass51.png' %}" alt="">
                </div>
                <div class="col-xl-5">
                    <h3 class="text-start mt-3 mb-5 mx-3">
                        <div class="display-lg-2 display-6 mb-1 fw-bold">Our Electronic Article Surveillance Services</div>
                        <p class="lead text-muted  fs-6 fs-lg-2">Comprehensive EAS Installation & Support</p>
                    </h3>

                    <div id="systems-services-container" class="row lcl-systems justify-content-center align-items-center">

                        <div class="col-xl-5 col-5 m-1">
                            <a href="/services/supply" class="text-decoration-none">
                                <div class="card rounded-4 shadow">
                                    <div class="card-body d-flex fs-1 justify-content-start align-items-center pl-3">
                                        <i class="bi bi-cart-fill mx-xl-3"></i>
                                        <p class="fs-6 mt-3 fs-3 display-3 mx-1 mx-xl-3 ">Supply</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-xl-5 col-5 m-1">
                            <a href="/services/installation" class="text-decoration-none">
                                <div class="card rounded-4 shadow">
                                    <div class="card-body d-flex fs-1 justify-content-start align-items-center pl-3">
                                        <i class="bi bi-tools mx-xl-3"></i>
                                        <p class="fs-6 mt-3 fs-3 display-3 mx-1 mx-xl-3 ">Installation</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-xl-5 col-5 m-1">
                            <a href="/services/maintenance" class="text-decoration-none">
                                <div class="card rounded-4 shadow">
                                    <div class="card-body d-flex fs-1 justify-content-start align-items-center pl-3">
                                        <i class="bi bi-battery-half  mx-xl-3"></i>
                                        <p class="fs-6 mt-3 fs-3 display-3 mx-1 mx-xl-3 ">Maintenance</p>
                                    </div>
                                </div>
                            </a>
                        </div>


                        <div class="col-xl-5 col-5 m-1">
                            <a href="/services/troubleshooting" class="text-decoration-none">
                                <div class="card rounded-4 shadow">
                                    <div class="card-body d-flex fs-1 justify-content-start align-items-center pl-3">
                                        <i class="bi bi-gear-fill mx-xl-3"></i>
                                        <p class="fs-4 mt-3 mx-1 mx-xl-3 ">Troubleshooting</p>
                                    </div>
                                </div>
                            </a>
                        </div>


                        <div class="col-xl-5 col-5 m-1">
                            <a href="/services/design" class="text-decoration-none">
                                <div class="card rounded-4 shadow">
                                    <div class="card-body d-flex fs-1 justify-content-start align-items-center pl-3">
                                        <i class="bi bi-rulers mx-xl-3"></i>
                                        <p class="fs-6 mt-3 fs-3 display-3 mx-1 mx-xl-3 ">Design</p>
                                    </div>
                                </div>
                            </a>
                        </div>


                        <div class="col-xl-5 col-5 m-1">
                            <a href="/services/inspection" class="text-decoration-none">
                                <div class="card rounded-4 shadow">
                                    <div class="card-body d-flex fs-1 justify-content-start align-items-center pl-3">
                                        <i class="bi bi-search mx-xl-3"></i>
                                        <p class="fs-6 mt-3 fs-3 display-3 mx-1 mx-xl-3 ">Inspection</p>
                                    </div>
                                </div>
                            </a>
                        </div>


                        <div class="col-xl-5 col-5 m-1">
                            <a href="/services/consultation" class="text-decoration-none">
                                <div class="card rounded-4 shadow">
                                    <div class="card-body d-flex fs-1 justify-content-start align-items-center pl-3">
                                        <i class="bi bi-chat-left-quote-fill mx-xl-3"></i>
                                        <p class="fs-6 mt-3 fs-3 display-3 mx-xl-3 mx-1 ">Consultation</p>
                                    </div>
                                </div>
                            </a>
                        </div>


                        <div class="col-xl-5 col-5 m-1">
                            <a href="/services/training" class="text-decoration-none">
                                <div class="card rounded-4 shadow">
                                    <div class="card-body d-flex fs-1 justify-content-start align-items-center pl-3">
                                        <i class="bi bi-bar-chart-fill mx-xl-3"></i>
                                        <p class="fs-6 mt-3 fs-3 display-3 mx-xl-3 mx-1 ">Training</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="systems-brands">
        <div class="container-fluid my-5" id="systems-brands-banner">
            <h3 class="text-center mt-3 mb-5 pt-5 mx-3">
                <div class="display-lg-2 display-6 mb-1 fw-bold">Electronic Article Surveillance Brands</div>
                <p class="lead text-muted  fs-6 fs-lg-2">Trusted EAS Brands for Reliable Protection</p>
            </h3>

            {% if brands %}
            <div id="system-brands-container" class="row justify-content-center align-items-center">
                
                {% for brand in brands %}
                <div class="col-xl-1 col-4">
                    <a href="{% url 'users:brands_overview' brand.brand_slug%}">
                        <card class="p-1 rounded-5">
                            <div class="card-body text-center p-1">
                                <div class="card-title">
                                    <img src="/media/{{ brand.brand_logo }}" alt="">
                                </div>
                            </div>
                        </card>
                    </a>
                </div>
                {% endfor %}
                
            </div>
            {% else %}
            <p class="text-center fs-6 fs-lg-2">No brands available</p
            {% endif %}
        </div>
    </section>
{% endblock %}
    