{% extends 'base.html' %}
{% load static %}

{% block title %}
    Access Control Systems
{% endblock %}



{% block scripts %}
    <script src="{% static 'js/systems-selected.js' %}"></script>
{% endblock %}


{% block styles %}
    <link rel="stylesheet" href="{% static 'css/systems-selected.css' %}">
{% endblock %}




{% block content %}
    <section id="banner-area">
        
    </section>

    <section id="hero-banner">
        <div class="container-fluid">
            <div class="row justify-content-center align-items-center mx-3 my-5 px-xl-5">
                <div class="col-lg-5 text-center text-xl-start">
                    <h4 class="text-uppercase">Integrating System</h4>
                    <h1 class="fw-bolder display-2 text-primary text-uppercase">Smart Robots Systems</h1>
                </div>
                <div class="col-lg-5 fs-lg-5 d-none d-xl-block text-center text-xl-start">
                    <p class="text-justify">Robotics are designed to enhance automation, efficiency, and precision across various industries, including security, hospitality, healthcare, logistics, and manufacturing. These advanced robotic solutions integrate AI-driven technology, smart navigation, and high-performance hardware to perform tasks with speed, accuracy, and reliability. From robotic surveillance systems to automated service robots, these products provide seamless solutions that improve productivity and operational efficiency.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="systems-overview">
        <div class="container-fluid my-5" id="systems-overview-banner">

            <div class="row justify-content-center align-items-start mx-5 px-xl-5 mt-xl-5 px-1 mt-3 mb-5">
                <div class="col-xl-4 mx-lg-5 mx-1 mt-lg-5 mt-1 d-none d-lg-block text-xl-end">
                    <img src="{% static 'images/picture52.png' %}" class="mt-3" alt="">
                    <img src="{% static 'images/picture54.png' %}" class="mt-3" alt="">
                </div>
                <div class="col-xl-5 mx-lg-5 mx-1 mt-lg-5 mt-1 text-justify text-xl-start">
                    <h2 class="display-5 mb-3">What is Smart Robots Systems?</h2>
                    <p class="text-justify">A robotic system consists of intelligent hardware and software working together to execute complex tasks autonomously or semi-autonomously. These systems utilize sensors, machine learning algorithms, and real-time data processing to adapt to different environments and perform assigned functions with minimal human intervention. Robotic products are widely used in commercial, industrial, and service-based sectors, offering solutions such as automated patrolling, AI-powered customer service, and robotic assistance in high-security zones.</p>
                    <p class="text-justify">Robotic solutions come in various types, including Service Robots, Security Robots, Delivery Robots, and Industrial Robots, each designed to meet specific operational needs. These robots can be customized with specialized features such as facial recognition, voice interaction, remote control capabilities, and multi-functional AI-driven responses. They are built with durability, precision, and adaptability in mind, ensuring seamless integration into modern businesses and organizations.</p>
                </div>
            </div>
            <div class="px-xl-5 mt-xl-5 px-1 mt-3 mb-5 text-justify text-xl-start mx-3 mx-xl-5">
                <p class="text-justify">Robotic systems combine intelligent hardware and software to perform tasks autonomously or semi-autonomously using sensors, machine learning, and real-time data processing. They are widely used in commercial, industrial, and service sectors for applications like automated patrolling, AI-driven customer service, and security. Robotic solutions include Service Robots, Security Robots, Delivery Robots, and Industrial Robots, each designed for specific needs. These robots can be customized with features like facial recognition, voice interaction, and remote control, ensuring durability, precision, and seamless integration into modern operations.</p>
            </div>

        </div>
    </section>

    <section id="systems-products">
        <div class="container-fluid my-5" id="systems-products-banner">
            <h3 class="text-center mt-3 mb-5 pt-5 mx-3">
                <div class="display-lg-2 display-6 mb-1 fw-bold">Smart Robots Products</div>
                <p class="lead text-muted  fs-6 fs-lg-2">Cutting-Edge Technology for Streamlined Security Operations</p>
            </h3>

            <div id="systems-products-slider" class="position-relative d-flex flex-nowrap justify-content-start align-items-center mx-xl-5 px-xl-5 my-2">
                <button id="products-btn-prev" class="slider-btn btn-prev border-0">
                    <i class="bi bi-chevron-left fs-3"></i>
                </button>

                <div id="slider-container" class="lcl-systems row d-flex flex-nowrap justify-content-center align-items-center overflow-x-auto px-xl-5 mx-xl-5 px-1 mx-1" >

                    <div class="col-6 col-xl-3 p-3">
                        <a href="/products?search_product=&sort_by=name-up&category=120">
                            <div class="card p-3 rounded-5 mx-2">
                                <div class="card-body text-center p-1">                                        
                                    <img src="{% static 'images/pro76.png' %}" alt="Brand 1">
                                </div>
                                <div class="card-title m-2 text-center">
                                    <p class="fs-6 mt-3">Smart Delivery Robot</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    

                    <div class="col-6 col-xl-3 p-3">
                        <a href="/products?search_product=&sort_by=name-up&category=121">
                            <div class="card p-3 rounded-5 mx-2">
                                <div class="card-body text-center p-1">                                        
                                    <img src="{% static 'images/pro77.png' %}" alt="Brand 1">
                                </div>
                                <div class="card-title m-2 text-center">
                                    <p class="fs-6 mt-3">Smart Cleaning Robot</p>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>

                <button id="products-btn-next" class="slider-btn btn-next border-0">
                    <i class="bi bi-chevron-right fs-3"></i>
                </button>

            </div>

            <div class="justify-content-center align-items-center text-center mt-5 ">
                <a href="/products?system=robots" class="btn btn-primary rounded-3 p-3">View all Robotics Products</a>
            </div>
        </div>
    </section>

    <section id="systems-services">
        <div class="container-fluid my-5" id="systems-services-banner">

            <div class="row justify-content-center align-items-start">
                <div class="col-xl-4">
                    <img src="{% static 'images/picture53.png' %}" alt="">
                </div>
                <div class="col-xl-5">
                    <h3 class="text-start mt-3 mb-5 mx-3">
                        <div class="display-lg-2 display-6 mb-1 fw-bold">Our Robotics Services</div>
                        <p class="lead text-muted  fs-6 fs-lg-2">Innovative Robotics Solutions for Seamless Automation and Enhanced Security.</p>
                    </h3>

                    <div id="systems-services-container" class="row lcl-systems justify-content-center align-items-center">

                        <div class="col-xl-5 col-5 m-1">
                            <a href="/services/supply" class="text-decoration-none">
                                <div class="card rounded-4 shadow">
                                    <div class="card-body d-flex fs-1 justify-content-start align-items-center pl-3">
                                        <i class="bi bi-cart-fill mx-xl-3"></i>
                                        <p class="fs-6 mt-3 fs-3 display-3 mx-1 mx-xl-3 ">Supply</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-xl-5 col-5 m-1">
                            <a href="/services/installation" class="text-decoration-none">
                                <div class="card rounded-4 shadow">
                                    <div class="card-body d-flex fs-1 justify-content-start align-items-center pl-3">
                                        <i class="bi bi-tools mx-xl-3"></i>
                                        <p class="fs-6 mt-3 fs-3 display-3 mx-1 mx-xl-3 ">Installation</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-xl-5 col-5 m-1">
                            <a href="/services/maintenance" class="text-decoration-none">
                                <div class="card rounded-4 shadow">
                                    <div class="card-body d-flex fs-1 justify-content-start align-items-center pl-3">
                                        <i class="bi bi-battery-half  mx-xl-3"></i>
                                        <p class="fs-6 mt-3 fs-3 display-3 mx-1 mx-xl-3 ">Maintenance</p>
                                    </div>
                                </div>
                            </a>
                        </div>


                        <div class="col-xl-5 col-5 m-1">
                            <a href="/services/troublshooting" class="text-decoration-none">
                                <div class="card rounded-4 shadow">
                                    <div class="card-body d-flex fs-1 justify-content-start align-items-center pl-3">
                                        <i class="bi bi-gear-fill mx-xl-3"></i>
                                        <p class="fs-4 mt-3 mx-1 mx-xl-3 ">Troubleshooting</p>
                                    </div>
                                </div>
                            </a>
                        </div>


                        <div class="col-xl-5 col-5 m-1">
                            <a href="/services/design" class="text-decoration-none">
                                <div class="card rounded-4 shadow">
                                    <div class="card-body d-flex fs-1 justify-content-start align-items-center pl-3">
                                        <i class="bi bi-rulers mx-xl-3"></i>
                                        <p class="fs-6 mt-3 fs-3 display-3 mx-1 mx-xl-3 ">Design</p>
                                    </div>
                                </div>
                            </a>
                        </div>


                        <div class="col-xl-5 col-5 m-1">
                            <a href="" class="text-decoration-none">
                                <div class="card rounded-4 shadow">
                                    <div class="card-body d-flex fs-1 justify-content-start align-items-center pl-3">
                                        <i class="bi bi-search mx-xl-3"></i>
                                        <p class="fs-6 mt-3 fs-3 display-3 mx-1 mx-xl-3 ">Inspection</p>
                                    </div>
                                </div>
                            </a>
                        </div>


                        <div class="col-xl-5 col-5 m-1">
                            <a href="/services/consultation" class="text-decoration-none">
                                <div class="card rounded-4 shadow">
                                    <div class="card-body d-flex fs-1 justify-content-start align-items-center pl-3">
                                        <i class="bi bi-chat-left-quote-fill mx-xl-3"></i>
                                        <p class="fs-6 mt-3 fs-3 display-3 mx-xl-3 mx-1 ">Consultation</p>
                                    </div>
                                </div>
                            </a>
                        </div>


                        <div class="col-xl-5 col-5 m-1">
                            <a href="/services/training" class="text-decoration-none">
                                <div class="card rounded-4 shadow">
                                    <div class="card-body d-flex fs-1 justify-content-start align-items-center pl-3">
                                        <i class="bi bi-bar-chart-fill mx-xl-3"></i>
                                        <p class="fs-6 mt-3 fs-3 display-3 mx-xl-3 mx-1 ">Training</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    

    <section id="systems-brands">
        <div class="container-fluid my-5" id="systems-brands-banner">
            <h3 class="text-center mt-3 mb-5 pt-5 mx-3">
                <div class="display-lg-2 display-6 mb-1 fw-bold">Robotics Brands</div>
                <p class="lead text-muted  fs-6 fs-lg-2">Trusted and Reliable Brands for Robotics Solutions</p>
            </h3>
            {% if brands %}
            <div id="system-brands-container" class="row justify-content-center align-items-center">
                
                {% for brand in brands %}
                <div class="col-xl-1 col-4">
                    <a href="{% url 'users:brands_overview' brand.brand_slug%}">
                        <card class="p-1 rounded-5">
                            <div class="card-body text-center p-1">
                                <div class="card-title">
                                    <img src="/media/{{ brand.brand_logo }}" alt="">
                                </div>
                            </div>
                        </card>
                    </a>
                </div>
                {% endfor %}
                
            </div>
            {% else %}
            <p class="text-center fs-6 fs-lg-2">No brands available</p
            {% endif %}
        </div>
    </section>

{% endblock %}
    