{% extends 'base.html' %}
{% load static %}

{% block title %}
    CCTV Systems
{% endblock %}



{% block scripts %}
    <script src="{% static 'js/systems-selected.js' %}"></script>
{% endblock %}


{% block styles %}
    <link rel="stylesheet" href="{% static 'css/systems-selected.css' %}">
{% endblock %}




{% block content %}
    <section id="banner-area">
        
    </section>

    <section id="hero-banner">
        <div class="container-fluid">
            <div class="row justify-content-center align-items-center mx-3 my-5 px-xl-5">
                <div class="col-lg-5 text-center text-xl-start">
                    <h4 class="text-uppercase">Integrating System</h4>
                    <h1 class="fw-bolder display-2 text-primary text-uppercase">Closed-Circuit Television Systems</h1>
                </div>
                <div class="col-lg-5 fs-lg-5 d-none d-xl-block text-center text-xl-start">
                    <p class="text-justify">CCTV Brands represent a range of reliable and innovative surveillance solutions designed to enhance security and monitoring. Known for advanced technology and durable designs, these brands cater to diverse industries, including residential, commercial, and industrial applications. With features such as high-definition imaging, night vision, motion detection, and remote monitoring, CCTV Brands provide a comprehensive approach to protecting people and property. By prioritizing quality and performance, these brands have established themselves as trusted names in the security industry.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="systems-overview">
        <div class="container-fluid my-5" id="systems-overview-banner">

            <div class="row justify-content-center align-items-start mx-5 px-xl-5 mt-xl-5 px-1 mt-3 mb-5">
                <div class="col-xl-4 mx-lg-5 mx-1 mt-lg-5 mt-1 d-none d-lg-block text-xl-end">
                    <img src="{% static 'images/im20.png' %}" class="mt-3" alt="">
                    <img src="{% static 'images/ima21.png' %}" class="mt-3" alt="">
                </div>
                <div class="col-xl-5 mx-lg-5 mx-1 mt-lg-5 mt-1 text-justify text-xl-start">
                    <h2 class="display-5 mb-3">What is Closed Circuit Television Systems (CCTV)?</h2>
                    <p class="text-justify">A Closed-Circuit Television (CCTV) system is a security solution that uses cameras and video recorders to monitor, capture, and store footage of specific areas. Unlike public broadcast systems, CCTV transmits footage to a designated set of monitors for private viewing, ensuring controlled and secure access to surveillance data. Modern CCTV systems feature advanced capabilities like HD video resolution, infrared night vision, pan-tilt-zoom (PTZ) functions, and AI-powered analytics for facial recognition or motion tracking.</p>
                    <p class="text-justify">CCTV systems are versatile, with applications ranging from small-scale installations in homes to complex multi-camera setups in large facilities. These systems enhance security by deterring potential intruders, assisting in incident investigations, and providing real-time monitoring for businesses and homeowners. With advancements in technology, many CCTV systems now support remote access via smartphones or computers, ensuring constant visibility and peace of mind.
                    </p>
                </div>
            </div>
            <div class="px-xl-5 mt-xl-5 px-1 mt-3 mb-5 text-justify text-xl-start mx-3 mx-xl-5">
                <p class="text-justify">CCTV Brands stand out as pioneers in the field of video surveillance, delivering reliable, high-quality solutions tailored to the evolving needs of modern security. Whether for residential or industrial use, these brands provide advanced features and robust performance to safeguard lives, assets, and environments. Trusted by businesses and individuals worldwide, CCTV Brands continue to set the benchmark for innovation, reliability, and excellence in surveillance technology.</p>
            </div>

        </div>
    </section>

    <section id="systems-products">
        <div class="container-fluid my-5" id="systems-products-banner">
            <h3 class="text-center mt-3 mb-5 pt-5 mx-3">
                <div class="display-lg-2 display-6 mb-1 fw-bold">CCTV Products</div>
                <p class="lead text-muted  fs-6 fs-lg-2"> Advanced CCTV Systems for Enhanced Security and Monitoring</p>
            </h3>

            <div id="systems-products-slider" class="position-relative d-flex flex-nowrap justify-content-center align-items-center mx-xl-5 px-xl-5 my-2">
                <button id="products-btn-prev" class="slider-btn btn-prev border-0">
                    <i class="bi bi-chevron-left fs-3"></i>
                </button>

                <div id="slider-container" class="lcl-systems row d-flex flex-nowrap justify-content-start align-items-center overflow-x-auto px-xl-5 mx-xl-5 px-1 mx-1" >

                    <div class="col-8 col-md-4 col-xl-3 p-xl-3 p-2">
                        <a href="/products?search_product=&sort_by=name-up&category=21">
                            <div class="card p-3 rounded-5 mx-2">
                                <div class="card-body text-center p-1">                                        
                                    <img src="{% static 'images/pro13.png' %}" alt="Brand 1" class="img-fluid">
                                </div>
                                <div class="card-title m-2 text-center">
                                    <p class="fs-6 mt-3">DVR / NVR</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    

                    <div class="col-6 col-xl-3 p-3">
                        <a href="/products?search_product=&sort_by=name-up&category=22">
                            <div class="card p-3 rounded-5 mx-2">
                                <div class="card-body text-center p-1">                                        
                                    <img src="{% static 'images/pro14.png' %}" alt="Brand 1">
                                </div>
                                <div class="card-title m-2 text-center">
                                    <p class="fs-6 mt-3">IP Camera</p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-6 col-xl-3 p-3">
                        <a href="/products?search_product=&sort_by=name-up&category=23">
                            <div class="card p-3 rounded-5 mx-2">
                                <div class="card-body text-center p-1">                                        
                                    <img src="{% static 'images/pro15.png' %}" alt="Brand 1">
                                </div>
                                <div class="card-title m-2 text-center">
                                    <p class="fs-6 mt-3">Analog Camera</p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-6 col-xl-3 p-3">
                        <a href="/products?search_product=&sort_by=name-up&category=24">
                            <div class="card p-3 rounded-5 mx-2">
                                <div class="card-body text-center p-1">                                        
                                    <img src="{% static 'images/pro13.png' %}" alt="Brand 1">
                                </div>
                                <div class="card-title m-2 text-center">
                                    <p class="fs-6 mt-3">PTZ Camera</p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-6 col-xl-3 p-3">
                        <a href="/products?search_product=&sort_by=name-up&category=25">
                            <div class="card p-3 rounded-5 mx-2">
                                <div class="card-body text-center p-1">                                        
                                    <img src="{% static 'images/pro14.png' %}" alt="Brand 1">
                                </div>
                                <div class="card-title m-2 text-center">
                                    <p class="fs-6 mt-3">IR Camera</p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-6 col-xl-3 p-3">
                        <a href="/products?search_product=&sort_by=name-up&category=26">
                            <div class="card p-3 rounded-5 mx-2">
                                <div class="card-body text-center p-1">                                        
                                    <img src="{% static 'images/pro15.png' %}" alt="Brand 1">
                                </div>
                                <div class="card-title m-2 text-center">
                                    <p class="fs-6 mt-3">Bullet Camera</p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-6 col-xl-3 p-3">
                        <a href="/products?search_product=&sort_by=name-up&category=27">
                            <div class="card p-3 rounded-5 mx-2">
                                <div class="card-body text-center p-1">                                        
                                    <img src="{% static 'images/pro16.png' %}" alt="Brand 1">
                                </div>
                                <div class="card-title m-2 text-center">
                                    <p class="fs-6 mt-3">Dome Camera</p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-6 col-xl-3 p-3">
                        <a href="/products?search_product=&sort_by=name-up&category=28">
                            <div class="card p-3 rounded-5 mx-2">
                                <div class="card-body text-center p-1">                                        
                                    <img src="{% static 'images/pro17.png' %}" alt="Brand 1">
                                </div>
                                <div class="card-title m-2 text-center">
                                    <p class="fs-6 mt-3">Monitor Display</p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-6 col-xl-3 p-3">
                        <a href="/products?search_product=&sort_by=name-up&category=29">
                            <div class="card p-3 rounded-5 mx-2">
                                <div class="card-body text-center p-1">                                        
                                    <img src="{% static 'images/pro18.png' %}" alt="Brand 1">
                                </div>
                                <div class="card-title m-2 text-center">
                                    <p class="fs-6 mt-3">Video Management Software</p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-6 col-xl-3 p-3">
                        <a href="/products?search_product=&sort_by=name-up&category=30">
                            <div class="card p-3 rounded-5 mx-2">
                                <div class="card-body text-center p-1">                                        
                                    <img src="{% static 'images/pro19.png' %}" alt="Brand 1">
                                </div>
                                <div class="card-title m-2 text-center">
                                    <p class="fs-6 mt-3">Power Supply UPS</p>
                                </div>
                            </div>
                        </a>
                    </div>


                </div>

                <button id="products-btn-next" class="slider-btn btn-next border-0">
                    <i class="bi bi-chevron-right fs-3"></i>
                </button>

            </div>

            <div class="justify-content-center align-items-center text-center mt-5 ">
                <a href="/products?system=cctv" class="btn btn-primary rounded-3 p-3">View all CCTV Products</a>
            </div>
        </div>
    </section>

    <section id="systems-services">
        <div class="container-fluid my-5" id="systems-services-banner">

            <div class="row justify-content-center align-items-start">
                <div class="col-xl-4">
                    <img src="{% static 'images/egi22.png' %}" alt="">
                </div>
                <div class="col-xl-5">
                    <h3 class="text-start mt-3 mb-5 mx-3">
                        <div class="display-lg-2 display-6 mb-1 fw-bold">Our CCTV Services</div>
                        <p class="lead text-muted  fs-6 fs-lg-2">Comprehensive Surveillance Solutions Tailored to Your Security Needs</p>
                    </h3>

                    <div id="systems-services-container" class="row lcl-systems justify-content-center align-items-center">

                        <div class="col-xl-5 col-5 m-1">
                            <a href="/services/supply" class="text-decoration-none">
                                <div class="card rounded-4 shadow">
                                    <div class="card-body d-flex fs-1 justify-content-start align-items-center pl-3">
                                        <i class="bi bi-cart-fill mx-xl-3"></i>
                                        <p class="fs-6 mt-3 fs-3 display-3 mx-1 mx-xl-3 ">Supply</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-xl-5 col-5 m-1">
                            <a href="/services/installation" class="text-decoration-none">
                                <div class="card rounded-4 shadow">
                                    <div class="card-body d-flex fs-1 justify-content-start align-items-center pl-3">
                                        <i class="bi bi-tools mx-xl-3"></i>
                                        <p class="fs-6 mt-3 fs-3 display-3 mx-1 mx-xl-3 ">Installation</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-xl-5 col-5 m-1">
                            <a href="/services/maintenance" class="text-decoration-none">
                                <div class="card rounded-4 shadow">
                                    <div class="card-body d-flex fs-1 justify-content-start align-items-center pl-3">
                                        <i class="bi bi-battery-half  mx-xl-3"></i>
                                        <p class="fs-6 mt-3 fs-3 display-3 mx-1 mx-xl-3 ">Maintenance</p>
                                    </div>
                                </div>
                            </a>
                        </div>


                        <div class="col-xl-5 col-5 m-1">
                            <a href="/services/troubleshooting" class="text-decoration-none">
                                <div class="card rounded-4 shadow">
                                    <div class="card-body d-flex fs-1 justify-content-start align-items-center pl-3">
                                        <i class="bi bi-gear-fill mx-xl-3"></i>
                                        <p class="mt-3 fs-4 mx-1 mx-xl-3 ">Troubleshooting</p>
                                    </div>
                                </div>
                            </a>
                        </div>


                        <div class="col-xl-5 col-5 m-1">
                            <a href="/services/design" class="text-decoration-none">
                                <div class="card rounded-4 shadow">
                                    <div class="card-body d-flex fs-1 justify-content-start align-items-center pl-3">
                                        <i class="bi bi-rulers mx-xl-3"></i>
                                        <p class="fs-6 mt-3 fs-3 display-3 mx-1 mx-xl-3 ">Design</p>
                                    </div>
                                </div>
                            </a>
                        </div>


                        <div class="col-xl-5 col-5 m-1">
                            <a href="/services/inspection" class="text-decoration-none">
                                <div class="card rounded-4 shadow">
                                    <div class="card-body d-flex fs-1 justify-content-start align-items-center pl-3">
                                        <i class="bi bi-search mx-xl-3"></i>
                                        <p class="fs-6 mt-3 fs-3 display-3 mx-1 mx-xl-3 ">Inspection</p>
                                    </div>
                                </div>
                            </a>
                        </div>


                        <div class="col-xl-5 col-5 m-1">
                            <a href="/services/consultation" class="text-decoration-none">
                                <div class="card rounded-4 shadow">
                                    <div class="card-body d-flex fs-1 justify-content-start align-items-center pl-3">
                                        <i class="bi bi-chat-left-quote-fill mx-xl-3"></i>
                                        <p class="fs-6 mt-3 fs-3 display-3 mx-xl-3 mx-1 ">Consultation</p>
                                    </div>
                                </div>
                            </a>
                        </div>


                        <div class="col-xl-5 col-5 m-1">
                            <a href="/services/training" class="text-decoration-none">
                                <div class="card rounded-4 shadow">
                                    <div class="card-body d-flex fs-1 justify-content-start align-items-center pl-3">
                                        <i class="bi bi-bar-chart-fill mx-xl-3"></i>
                                        <p class="fs-6 mt-3 fs-3 display-3 mx-xl-3 mx-1 ">Training</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="systems-brands">
        <div class="container-fluid my-5" id="systems-brands-banner">
            <h3 class="text-center mt-3 mb-5 pt-5 mx-3">
                <div class="display-lg-2 display-6 mb-1 fw-bold">CCTV Brands</div>
                <p class="lead text-muted  fs-6 fs-lg-2">Top-Rated CCTV Brands Offering Reliable and Cutting-Edge Technology</p>
            </h3>

            {% if brands %}
            <div id="system-brands-container" class="row justify-content-center align-items-center">
                
                {% for brand in brands %}
                <div class="col-xl-1 col-4">
                    <a href="{% url 'users:brands_overview' brand.brand_slug%}">
                        <card class="p-1 rounded-5">
                            <div class="card-body text-center p-1">
                                <div class="card-title">
                                    <img src="/media/{{ brand.brand_logo }}" alt="">
                                </div>
                            </div>
                        </card>
                    </a>
                </div>
                {% endfor %}
                
            </div>
            {% else %}
            <p class="text-center fs-6 fs-lg-2">No brands available</p
            {% endif %}
        </div>
    </section>
{% endblock %}
    