{% extends 'base.html' %}
{% load static %}

{% block title %}
    Supply Service
{% endblock %}



{% block scripts %}
    <script src="{% static 'js/services-selected.js' %}"></script>
{% endblock %}


{% block styles %}
    <link rel="stylesheet" href="{% static 'css/services-selected.css' %}">
{% endblock %}


{% block content %}
    <section id="banner-area">

    </section>

    <section id="hero-banner">
        <div class="container-fluid">
            <div class="row justify-content-center align-items-center mx-3 my-5 px-xl-5">
                <div class="col-lg-5 text-center text-xl-start">
                    <h4 class="text-uppercase">Our Services</h4>
                    <h1 class="fw-bolder display-2 text-primary text-uppercase">AA2000 as your Training Providers</h1>
                </div>
                <div class="col-lg-5 fs-lg-5 d-none d-xl-block text-center text-xl-start">
                    <p> Choosing AA2000 as your training provider means investing in the proficiency of your team. We not only deliver knowledge but also focus on building practical skills that directly contribute to the effectiveness of your security and technology systems. Our experienced trainers are knowledgeable in a wide range of systems and technology and can provide training for staff at all skill levels, from beginners to advanced users.
                      <br><br>  We understand the importance of clear, concise, and actionable training, which is why our programs are designed to be engaging and relevant to the real-world needs of your organization. By the end of our training sessions, your team will be well-prepared to manage and optimize your systems effectively and independently. </p>
                </div>
            </div>
        </div>
    </section>

    <section id="why-choose-us">
        <div class="container-fluid my-5" id="why-choose-us-banner">
            <div class="row mt-5 justify-content-center align-items-center px-1">

                <div class="col-xl-4 col-12 mt-5 text-xl-start text-center">
                    <h2 class="display-4 fw-bold">Why Choose Us?</h2>
                    <p>Choosing AA2000 as your training provider means investing in the proficiency of your team. We not only deliver knowledge but also focus on building practical skills that directly contribute to the effectiveness of your security and technology systems. Our experienced trainers are knowledgeable in a wide range of systems and technology and can provide training for staff at all skill levels, from beginners to advanced users.
                       <br> <br>  We understand the importance of clear, concise, and actionable training, which is why our programs are designed to be engaging and relevant to the real-world needs of your organization. By the end of our training sessions, your team will be well-prepared to manage and optimize your systems effectively and independently.</p>
                        <h5>Comprehensive Training Services</h5>
                        <p>AA2000 offers a variety of training services, including on-site sessions, virtual webinars, and custom training programs tailored to your specific systems and operational requirements. Our training covers system setup, configuration, operation, troubleshooting, and maintenance. We also provide detailed training manuals and ongoing support to ensure that your team feels fully supported long after the sessions are completed.
                           <br> <br>  Our flexible training options allow us to cater to your schedule, minimizing disruptions to your operations. Whether you need a one-time session or ongoing training, AA2000 is here to support you in building a knowledgeable and capable team. </p>
                              
                    </div>
                <div class="col-xl-5 col-12 row d-flex justify-content-end align-items-center mt-5 px-auto">
                    <div class="col-4 text-center">
                        <i class="bi bi-shield-fill-check text-primary display-3 fw-bolder"></i>
                        <p class="fs-3 fw-bold">Guaranteed Service</p>
                    </div>
                    <div class="col-4 text-center">
                        <i class="bi bi-award-fill text-primary display-3 fw-bolder"></i>
                        <p class="fs-3 fw-bold">High Quality Products</p>
                    </div>
                    <div class="col-4 text-center">
                        <i class="bi bi-person-fill-gear text-primary display-3 fw-bolder"></i>
                        <p class="fs-3 fw-bold">Handled by Experts</p>
                    </div>
                </div>

            </div>
        </div>
    </section>



    <section id="service-overview-2">
        <div id="banner" class="container-fluid mt-5">
            <div id="service-overview-text-banner" class="row justify-content-center mx-lg-5 px-5 py-5 align-items-center rounded-5">
                <div class="col-lg-4 py-3">
                    <h3 class=" display-5 fw-bold"><span class="rounded-3 px-3 py-1">In AA2000</span></h3>
                    <h4 class="fs-lg-2 text-uppercase fw-bold">Your Training Providers</h4>
                </div>
                <div class="col-lg-7 border-0 py-3">
                    <p class="fs-lg-4">AA2000 is the specialist in security and safety systems engineering. We design the perfect technology-based solutions that comply with the highest standards in the industry. Our products are carefully sourced directly from the manufacturers and are customized according to our customers' unique needs and requirements to recommend the most effective solution at the best price.</p>
                </div>
            </div>
        </div>
    </section>


    <section id="service-phases">
        <div class="container-fluid my-5" id="service-phases">
            <div class="row justify-content-center align-items-center mx-5 mt-5">

                <div class="card col-12 col-lg-6 col-xl-2 text-center p-4 rounded-5 border-primary shadow mt-5 mx-3">
                    <i class="bi bi-receipt-cutoff display-2 fw-bolder mt-5 mb-3"></i>
                    <div class="card-body">
                      <h5 class="card-title display-5 fw-bolder">Order</h5>
                      <p class="card-text">Place your request effortlessly through our streamlined ordering process, ensuring accuracy and efficiency. Our team is ready to assist you every step of the way.</p>
                    </div>
                </div>

                <div class="card col-12 col-lg-6 col-xl-2 text-center p-4 rounded-5 border-primary shadow mt-5 mx-3">
                    <i class="bi bi-clipboard-check display-2 fw-bolder mt-5 mb-3"></i> 
                    <div class="card-body">
                      <h5 class="card-title display-5 fw-bolder">Checking</h5>
                      <p class="card-text">Thorough inspection is conducted to verify quality and completeness before finalizing your order. We prioritize accuracy to meet your expectations.</p>
                    </div>
                </div>

                <div class="card col-12 col-lg-6 col-xl-2 text-center p-4 rounded-5 border-primary shadow mt-5 mx-3">
                    <i class="bi bi-truck display-2 fw-bolder mt-5 mb-3"></i>
                    <div class="card-body">
                      <h5 class="card-title display-5 fw-bolder">Delivery</h5>
                      <p class="card-text">Enjoy fast and reliable delivery, bringing your orders directly to your location. We ensure every item arrives safely and on time.</p>
                    </div>
                </div>

                <div class="card col-12 col-lg-6 col-xl-2 text-center p-4 rounded-5 border-primary shadow mt-5 mx-3">
                    <i class="bi bi-box-seam display-2 fw-bolder mt-5 mb-3"></i>
                    <div class="card-body">
                      <h5 class="card-title display-5 fw-bolder">Handover</h5>
                      <p class="card-text">Experience a seamless handover process with proper documentation and verification. Our team ensures a smooth transition of your products or services.</p>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <section id="service-faqs">
        <div class="container-fluid my-5" id="service-faqs-banner">
            <h3 class="text-center mt-3 mb-5 pt-5 mx-3 lcl-why-aa2000-text">
                <div class="display-lg-2 display-6 mb-1 fw-bold">Frequently Asked Questions</div>
                <p class="lead fs-6 fs-lg-2">Answers to Your Most Common Queries</p>
            </h3>

            <div class="col-8 justify-content-center align-items-center mx-auto">
                <div class="accordion" id="faqs-area">

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="faq-1-area">
                            <button type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#faq-1" aria-expanded="true" aria-controls="faq-1-answer">Question 1: What types of systems do you offer training for?</button>
                        </h2>
                        <div class="accordion-collapse collapse" id="faq-1" aria-labelledby="faq-1-area" data-bs-parent="#faqs-area">
                            <div class="accordion-body">
                                <p>We provide training for a wide range of security and technology systems, including CCTV, biometrics, fire detection and alarm systems (FDAS), intercoms, access control, and paging systems.</p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="faq-2-area">
                            <button type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#faq-2" aria-expanded="true" aria-controls="faq-2-answer">Question 2: Can you tailor the training to our specific needs?</button>
                        </h2>
                        <div class="accordion-collapse collapse" id="faq-2" aria-labelledby="faq-2-area" data-bs-parent="#faqs-area">
                            <div class="accordion-body">
                                <p>Yes, our training programs are fully customizable to meet the specific needs of your team and the systems you use. We work with you to ensure the training is relevant and focused on your operational requirements.</p>
                               </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="faq-3-area">
                            <button type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#faq-3" aria-expanded="true" aria-controls="faq-3-answer">Question 3: Do you offer online or remote training options?</button>
                        </h2>
                        <div class="accordion-collapse collapse" id="faq-3" aria-labelledby="faq-3-area" data-bs-parent="#faqs-area">
                            <div class="accordion-body">
                                <p>Yes, we offer virtual webinars and remote training sessions to ensure your team can receive training no matter their location. These sessions can be live or pre-recorded, depending on your preference.</p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="faq-4-area">
                            <button type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#faq-4" aria-expanded="true" aria-controls="faq-4-answer">Question 4: How long does the training take?</button>
                        </h2>
                        <div class="accordion-collapse collapse" id="faq-4" aria-labelledby="faq-4-area" data-bs-parent="#faqs-area">
                            <div class="accordion-body">
                                <p>The length of the training sessions depends on the complexity of the systems and the level of training required. Typically, training sessions range from a few hours to a full day, but we can adjust the duration based on your needs.</p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="faq-5-area">
                            <button type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#faq-5" aria-expanded="true" aria-controls="faq-5-answer">Question 5: Is there any follow-up support after the training?</button>
                        </h2>
                        <div class="accordion-collapse collapse" id="faq-5" aria-labelledby="faq-5-area" data-bs-parent="#faqs-area">
                            <div class="accordion-body">
                                <p>Yes, we offer post-training support to ensure your team has everything they need to apply what they've learned. This includes answering any follow-up questions, troubleshooting, and providing additional resources as needed</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>


    <section id="services-image-area">
        <div id="banner" class="container-fluid mt-5">
        </div>
    </section>
    

    <section id="other-services">
        <div class="container-fluid my-5" id="other-services-banner">
            <h3 class="text-center mt-3 mb-5 pt-5 mx-3 lcl-why-aa2000-text">
                <div class="display-lg-2 display-6 mb-1 fw-bold">Other Services Offered</div>
                <p class="lead fs-6 fs-lg-2">Enhancing Your Experience with Additional Expert Solutions</p>
            </h3>

            <div class="row lcl-services justify-content-center align-items-center">

                <div class="col-4 col-lg-1 p-3 text-center">
                    <a href="/services/supply" class="text-decoration-none text-muted">
                        <div class="card p-2 rounded-5 shadow">
                            <div class="card-body text-center p-1">
                                <div class="card-title m-2 display-4 fw-bolder">
                                    <i class="bi bi-cart-fill"></i>
                                </div>
                            </div>
                        </div>
                        <h5 class="mt-4">Supply</h5>
                    </a>
                </div>

                <div class="col-4 col-lg-1 p-3 text-center">
                    <a href="/services/installation" class="text-decoration-none text-muted">
                        <div class="card p-2 rounded-5 shadow">
                            <div class="card-body text-center p-1">
                                <div class="card-title m-2 display-4 fw-bolder">
                                    <i class="bi bi-tools"></i>
                                </div>
                            </div>
                        </div>
                        <h5 class="mt-4">Installation</h5>
                    </a>
                </div>

                <div class="col-4 col-lg-1 p-3 text-center">
                    <a href="/services/maintenance" class="text-decoration-none text-muted">
                        <div class="card p-2 rounded-5 shadow">
                            <div class="card-body text-center p-1">
                                <div class="card-title m-2 display-4 fw-bolder">
                                    <i class="bi bi-battery-half"></i>
                                </div>
                            </div>
                        </div>
                        <h5 class="mt-4">Maintenance</h5>
                    </a>
                </div>

                <div class="col-4 col-lg-1 p-3 text-center">
                    <a href="/services/troubleshooting" class="text-decoration-none text-muted">
                        <div class="card p-2 rounded-5 shadow">
                            <div class="card-body text-center p-1">
                                <div class="card-title m-2 display-4 fw-bolder">
                                    <i class="bi bi-gear-fill"></i>
                                </div>
                            </div>
                        </div>
                        <h5 class="mt-4">Troubleshooting</h5>
                    </a>
                </div>

                <div class="col-4 col-lg-1 p-3 text-center">
                    <a href="/services/design" class="text-decoration-none text-muted">
                        <div class="card p-2 rounded-5 shadow">
                            <div class="card-body text-center p-1">
                                <div class="card-title m-2 display-4 fw-bolder">
                                    <i class="bi bi-rulers"></i>
                                </div>
                            </div>
                        </div>
                        <h5 class="mt-4">Design</h5>
                    </a>
                </div>

                <div class="col-4 col-lg-1 p-3 text-center">
                    <a href="/services/inspection" class="text-decoration-none text-muted">
                        <div class="card p-2 rounded-5 shadow">
                            <div class="card-body text-center p-1">
                                <div class="card-title m-2 display-4 fw-bolder">
                                    <i class="bi bi-search"></i>
                                </div>
                            </div>
                        </div>
                        <h5 class="mt-4">Inspection</h5>
                    </a>
                </div>

                <div class="col-4 col-lg-1 p-3 text-center">
                    <a href="/services/consultation" class="text-decoration-none text-muted">
                        <div class="card p-2 rounded-5 shadow">
                            <div class="card-body text-center p-1">
                                <div class="card-title m-2 display-4 fw-bolder">
                                    <i class="bi bi-chat-left-heart-fill"></i>
                                </div>
                            </div>
                        </div>
                        <h5 class="mt-4">Consultation</h5>
                    </a>
                </div>

                <div class="col-4 col-lg-1 p-3 text-center">
                    <a href="/services/training" class="text-decoration-none text-muted">
                        <div class="card p-2 rounded-5 shadow">
                            <div class="card-body text-center p-1">
                                <div class="card-title m-2 display-4 fw-bolder">
                                    <i class="bi bi-bar-chart-fill"></i>
                                </div>
                            </div>
                        </div>
                        <h5 class="mt-4">Training</h5>
                    </a>
                </div>



            </div>

            <div class="row col-10 mx-auto lcl-services justify-content-center align-items-center">


                <div class="col-4 col-lg-1 p-3 text-center">
                    <a href="/services/electrical" class="text-decoration-none text-muted">
                        <div class="card p-2 rounded-5 shadow">
                            <div class="card-body text-center p-1">
                                <div class="card-title m-2 display-4 fw-bolder">
                                    <i class="bi bi-lightning-charge-fill"></i>
                                </div>
                            </div>
                        </div>
                        <h5 class="mt-4">Electrical Engineering</h5>
                    </a>
                </div>

                <div class="col-4 col-lg-1 p-3 text-center">
                    <a href="/services/mechanical" class="text-decoration-none text-muted">
                        <div class="card p-2 rounded-5 shadow">
                            <div class="card-body text-center p-1">
                                <div class="card-title m-2 display-4 fw-bolder">
                                    <i class="bi bi-wrench-adjustable"></i>
                                </div>
                            </div>
                        </div>
                        <h5 class="mt-4">Mechanical Engineering</h5>
                    </a>
                </div>

                <div class="col-4 col-lg-1 p-3 text-center">
                    <a href="/services/plumbing" class="text-decoration-none text-muted">
                        <div class="card p-2 rounded-5 shadow">
                            <div class="card-body text-center p-1">
                                <div class="card-title m-2 display-4 fw-bolder">
                                    <i class="bi bi-droplet-fill"></i>
                                </div>
                            </div>
                        </div>
                        <h5 class="mt-4">Plumbing Services</h5>
                    </a>
                </div>

                <div class="col-4 col-lg-1 p-3 text-center">
                    <a href="/services/fitout" class="text-decoration-none text-muted">
                        <div class="card p-2 rounded-5 shadow">
                            <div class="card-body text-center p-1">
                                <div class="card-title m-2 display-4 fw-bolder">
                                    <i class="bi bi-palette-fill"></i>
                                </div>
                            </div>
                        </div>
                        <h5 class="mt-4">Fitout Services</h5>
                    </a>
                </div>

                <div class="col-4 col-lg-1 p-3 text-center">
                    <a href="/services/aircon" class="text-decoration-none text-muted">
                        <div class="card p-2 rounded-5 shadow">
                            <div class="card-body text-center p-1">
                                <div class="card-title m-2 display-4 fw-bolder">
                                    <i class="bi bi-fan"></i>
                                </div>
                            </div>
                        </div>
                        <h5 class="mt-4">Air Condition Services</h5>
                    </a>
                </div>

                <div class="col-4 col-lg-1 p-3 text-center">
                    <a href="/services/fire-safety" class="text-decoration-none text-muted">
                        <div class="card p-2 rounded-5 shadow">
                            <div class="card-body text-center p-1">
                                <div class="card-title m-2 display-4 fw-bolder">
                                    <i class="bi bi-fire"></i>
                                </div>
                            </div>
                        </div>
                        <h5 class="mt-4">Fire Alarm & Safety Services</h5>
                    </a>
                </div>

                <div class="col-4 col-lg-1 p-3 text-center">
                    <a href="/services/bms" class="text-decoration-none text-muted">
                        <div class="card p-2 rounded-5 shadow">
                            <div class="card-body text-center p-1">
                                <div class="card-title m-2 display-4 fw-bolder">
                                    <i class="bi bi-building-fill"></i>
                                </div>
                            </div>
                        </div>
                        <h5 class="mt-4">Building Management System</h5>
                    </a>
                </div>

                <div class="col-4 col-lg-1 p-3 text-center">
                    <a href="/services/elevator" class="text-decoration-none text-muted">
                        <div class="card p-2 rounded-5 shadow">
                            <div class="card-body text-center p-1">
                                <div class="card-title m-2 display-4 fw-bolder">
                                    <i class="bi bi-arrow-down-up"></i>
                                </div>
                            </div>
                        </div>
                        <h5 class="mt-4">Elevator & Escalator Services</h5>
                    </a>
                </div>

                <div class="col-4 col-lg-1 p-3 text-center">
                    <a href="/services/energy" class="text-decoration-none text-muted">
                        <div class="card p-2 rounded-5 shadow">
                            <div class="card-body text-center p-1">
                                <div class="card-title m-2 display-4 fw-bolder">
                                    <i class="bi bi-battery-charging"></i>
                                </div>
                            </div>
                        </div>
                        <h5 class="mt-4">Energy Auditing & Management</h5>
                    </a>
                </div>

                <div class="col-4 col-lg-1 p-3 text-center">
                    <a href="/services/data-cabling" class="text-decoration-none text-muted">
                        <div class="card p-2 rounded-5 shadow">
                            <div class="card-body text-center p-1">
                                <div class="card-title m-2 display-4 fw-bolder">
                                    <i class="bi bi-router-fill"></i>
                                </div>
                            </div>
                        </div>
                        <h5 class="mt-4">Data Cabling Services</h5>
                    </a>
                </div>
                

            </div>
        </div>
    </section>


    <section id="cta">
        <div id="cta-banner" class="container-fluid py-5">
            <div class="row justify-content-center text-center">
                <div class="col">
                    <h5 class="display-3 fw-bold"> Ready to Start your Project?</h5>
                    <p class="fs-5">Partner with us for innovative solutions that drive your business forward. Let's turn your vision into reality today!</p>
                    <a href="" class="btn btn-primary btn-lg">Get Started Now</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}