* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif; 
    background-color: #ecf2ff;
}


/* for scroll bar styles */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background-color: var(--main-bg);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--mid-blue);
    border-radius: 10px;
    border: 3px solid var(--main-bg);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--dark-blue); /* Darker color on hover */
}

        /* Define color palettes */

        :root {
            --primary-color: #4c7df9; 
            --secondary-color: #6c757d; 
            --light-bg: #f8f9fa;
            --dark-bg: #343a40;
            --hover-bg: rgba(0, 123, 255, 0.1);
            --hover-color: #0056b3; 
        
        
            --main-bg: #ecf2ff;
            --light-blue: #4c7df9;
            --black: #202020;
            --mid-blue: #1f4cff;
            --dark-blue: #0a2fbf;
            --gray: #d6d6d8;
            --img-bg-blue: rgba(58, 120, 253, 0.65);
            --gradient-bg: linear-gradient(to bottom, var(--light-blue) 0%, var(--mid-blue) 100%);
        }


nav {
    position: fixed;
    top: 0; 
    z-index: 999;
    width: 100%; 
}


#intro {
    padding-top: 60px; 
}

.navbar-nav .nav-link {
    transition: background-color 0.3s ease, color 0.3s ease; 
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus,
.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:focus {
    outline: none;
    /* background-color: var(--hover-bg) !important; */
    color: var(--hover-color); 
    border: none;
    box-shadow: none;
    font-style: bold;
}

.dropdown-menu {
    opacity: 0;
    visibility: hidden;
    background-color: var(--main-bg);
    transform: translateY(10px);
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease; /* Added visibility transition */
}

.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease; /* Added visibility transition */
}

.dropdown-menu .dropdown-item {
    transition: background-color 0.5s ease; 
}

.dropdown-menu .dropdown-item:hover {
    background-color: var(--hover-bg);
    color: var(--hover-color);
    font-weight: bold;
}

.nav-link {
    font-weight: 400;
    text-transform: uppercase;
}

.dropdown-item {
    font-weight: 200;
    text-transform:capitalize;
}

.navbar {
    background: var(--main-bg)
}


footer {
    width: 100%; 
    background-color: var(--black);
    color: var(--main-bg);
}

footer img {
    width: 50%;
}

#footer a {
    text-decoration: none;

}

#footer li a:hover {
    color: var(--dark-bg);
    font-weight: bold;
}

#social-links {
    color: var(--main-bg);
}

#social-links a {
    text-decoration: none;
    color: var(--main-bg);
}

#social-links a:hover {
    color:var(--dark-bg);
}



.text-justify {
    text-align: justify;
}

/* 
footer ul {
    list-style-type: none;
}

footer ul li a:hover {
    font-style: bold;
} */