:root {
    --primary-color: #4c7df9; 
    --secondary-color: #6c757d; 
    --light-bg: #f8f9fa;
    --dark-bg: #343a40;

    --main-bg: #ecf2ff;
    --light-blue: #4c7df9;
    --black: #202020;
    --mid-blue: #1f4cff;
    --dark-blue: #0a2fbf;
    --gray: #d6d6d8;
    --img-bg-blue: rgba(58, 120, 253, 0.65);
    --gradient-bg: linear-gradient(to bottom, var(--light-blue) 0%, var(--mid-blue) 100%);
}


.text-justify {
    text-align: justify;
}

#banner-area {
    position: relative;
    top: 0px;
    background-image: url('../images/systemSelected6.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 45vh;
    display: flex; 
    align-items: center;
    color: var(--main-bg); 
    padding: 0 20px;
    overflow: hidden;
}


#banner-area::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--img-bg-blue); /* Blue overlay */
    opacity: 0.5; /* Adjust the overlay opacity here */
    z-index: 0;
}

#banner-area > * {
    position: relative;
    z-index: 1; /* Bring content above overlay */
}

#systems-overview-banner img , #systems-services-banner img , #slider-container img, #system-brands-container img{
    max-width: 100%;
}

#slider-container.card {
    height: 100%;
    border-radius: 0.5;
}



#slider-container.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

#slider-container.card-title {
    flex-grow: 1;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100px; /
}

#slider-container.card-subtitle {
    min-height: 70px; 
    display: flex;
    align-items: center; 
    justify-content: center;
    text-align: center;
}

#slider-container.card img {
    max-width: 100%;
    height: auto;
}


.lcl-systems a{
    text-decoration: none;
    color: var(--black)
}

.lcl-systems a:hover .card {
    background: var(--gradient-bg);
    color: var(--main-bg);
    border: none;
}



#slider-container .slider-btn {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

#slider-container .btn-prev {
    left: 10px;
}

#slider-container .btn-next {
    right: 10px;
}

#slider-container .card a {
    text-decoration: none;
    color: var(--black);
}

/* 
.lcl-systems a{
    text-decoration: none;
    color: var(--black)
}

.lcl-systems a:hover .card {
    background: var(--gradient-bg);
    color: var(--main-bg);
    border: none;
}
 */
